@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

html{
    background-color: #94c8dc;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 20%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardImg{
    overflow: hidden;
}

.cardImg img {
    width: 94%;
    aspect-ratio: 1;
    margin: 5px 3%;
    border-radius: 6px;
    transition: all 0.3s;
}

.card img:hover{
    transform: scale(0.9);
    transform-origin: center;
    opacity: .8;
    cursor: grabbing;
}


.cardBtns {
    margin: 2px 10px;
}

.cardBtn {
    padding: 3px 7px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgb(182, 157, 157);
    margin: 0px 3px;
    cursor: pointer;
}

.aboutCard {
    padding: 8px;

    & h3 {
        font-size: 23px;
        margin: 6px 0px;
    }

    & p {
        font-size: 15px;
        text-align: justify;
    }
}

.learnMore {
    width: 40%;
    margin: 10px 30%;
    padding: 12px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 18px;
    border: none;
    color: blue;
    background-color: rgba(0, 0, 255, 0.223);
    cursor: pointer;
}