@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
}


.card {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid transparent;
    width: 270px;
    margin: 50px auto;
    transition: all ease .3ms ;
    & .product {
        width: 130px;
        height: 150px;
        margin: 48px 61px 38px 79px;
        transition: all ease .1s;
        
    }
}

.card:hover .add-carts{
    visibility: visible;
    & img:hover{
        transform: scale(1.2);
    }
}

.card:hover {
    border-color: blue ;
    cursor: pointer;
    & .product:hover{
        transform: scale(1.1);
    }
}

figure{
    overflow: hidden;
    position: relative;
}

.view-detail-btn{
    /* width: 100px; */
    padding: 8px 12px;
    background-color: rgb(37, 202, 37);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
}

.btn-section{
    position: absolute;
    top: 198px;
    left: 87px;
}

.add-carts{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    top: 8px;
    left: 6px;
    visibility: hidden;
    transition: all linear 0.3ms;
}

.card .about-product {
    background-color: #2F1AC4
}

.about-product .product-name{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    padding: 4px 0;
}

.about-product img{
    width: 20%;
    height: auto;
    margin: 0px 40%;
}

.about-product p{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin: 10px 0px;
}

.about-product span{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 8px;
}