@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Urbanist", sans-serif;
}

html {
    font-size: 62.5%;
}

a,
span {
    font-size: 1.6rem;
    color: gray;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}

.container {
    max-width: 120rem;
    margin: 0rem auto;
}

.header-section,
.hero-section,
.icon-section,
.feature-section,
.plan-section,
.package-section,
.global-section,
.global-img-section,
.company-logo .footer-section {
    padding: 1.5rem 3rem;
    margin-bottom: 5rem;
}

.grid {
    display: grid;
}

.grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
    /* gap: 1.2rem; */
}

.grid-four-cols {
    grid-template-columns: repeat(4, 1fr);
}


/* Header Section Starts */

.header-section {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section img {
    width: 4rem;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.vpn {
    font-weight: bold;
    color: black;
}

.nav-section,
nav ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3rem;
}

.active-link {
    color: red;
}

nav ul li a:hover {
    color: rgb(57, 56, 56);
}

.sign-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.2rem;
}

.sign-in {
    padding: 1rem;
    font-weight: bold;
    color: black;
    transition: all ease .3s;
}

.sign-up {
    font-size: 1.6rem;
    padding: .6rem 1.8rem;
    color: red;
    border: .2rem solid red;
    border-radius: 2rem;
    transition: all ease-in .3s;
}

.sign-in:hover {
    color: rgb(42, 41, 41);
    text-decoration: underline;
}

.sign-up:hover {
    background-color: red;
    color: white;
}

/* Header Part Ends */

/* Hero-section part begains */

:is(.intro-section) .intro-heading,
.about-intro {
    margin: 2rem 0rem;
}

.intro-section span {
    font-size: 3rem;
    color: black;
    font-weight: 900;
}

.intro-section .about-intro {
    font-size: 1.6rem;
    line-height: 2.3rem;
}

.intro-img {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 100%;
    }
}

.intro-btn button {
    padding: 1rem 4rem;
    background-color: red;
    color: white;
    font-weight: bold;
    border: .1rem solid red;
    border-radius: .4rem;
    box-shadow: .1rem .4rem .5rem .2rem red;
}

/* Hero Section part ends */

/* Icon Section starts */

.about-icon-section {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.icon-class {
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    color: red;
    background-color: rgb(227, 159, 159);
}

.number-user {
    font-size: 1.7rem;
}

.number-user~p {
    font-size: 1.4rem;
}

/* Icon Section Ends */

/* Feature Section Begains */

.feature-img img {
    width: 100%;
}

.about-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    & h2 {
        font-size: 4.5rem;
        margin-bottom: 1.4rem;
        color: #0B132A;
    }

    & p {
        font-size: 1.3rem;
        color: rgb(99, 92, 92);
        line-height: 1.8rem;
        margin-bottom: 1.4rem;
    }
}

.features .fa-circle-check {
    font-size: 1.4rem;
    color: green;
    margin-right: .6rem;
}

.features .feature-list {
    color: rgb(99, 92, 92);
    font-size: 1.4rem;
    display: inline-block;
    margin-bottom: 1rem;
}

/* Feature Section Ends */

/* Plan Section Begains */

.plan-header {
    font-size: 3.5rem;
    text-align: center;
    color: #0B132A;
    margin-bottom: 2rem;
}

.about-plan {
    text-align: center;
    font-size: 1.6rem;
    color: #4F5665;
}

/* Plan Section Ends */

/* Package Section Begains */
.package-section {
    gap: .5rem;
    place-items: center;
}

.package-content {
    border: .1rem solid red;
    padding: 2rem 2rem 0rem;
    background-color: #FFF;
    width: 33rem;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & img {
        margin-bottom: 2rem;
    }
}

.fa-check {
    font-size: 1.2rem;
    color: green;
}

figcaption {
    font-size: 1.8rem;
    color: #0B132A;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6rem;
}

.select-btn {
    font-size: 1.6rem;
    padding: .6rem 3.6rem;
    color: red;
    border: .2rem solid red;
    border-radius: 2rem;
}

.about-pricing {
    padding: 1.2rem;

    & .pricing-list .about-list {
        font-size: 1.4rem;
        color: #4F5665;
        margin-left: 1rem;
        font-weight: lighter;
    }
}

.pricing-list {
    margin-bottom: 1rem;
}

.package-btn {
    margin-top: 8rem;

    & p {
        font-size: 2.5rem;
        color: #0B132A;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2rem;
    }
}

/* Package Section Ends */

/* Global section Starts */
:is(.global-section, .testimonal-section) h2 {
    font-size: 3.5rem;
    text-align: center;
    color: #0B132A;
    margin-bottom: 1.2rem;
}

:is(.global-section, .testimonal-section) p {
    text-align: center;
    font-size: 1.6rem;
    color: #4F5665;

    & span {
        font-weight: bold;
        color: #4F5665;

    }
}

/* Global section Ends */

/* Global Image section Starts */

.global-img-section {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        width: 80%;
    }
}

/* Global Image section Ends */

/* Comapny logo section starts */

.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
    margin-bottom: 2.3rem;
}

/* Comapny logo section Ends */

/* Testimonial section starts */
.testimonal-section{
    margin-bottom: 5rem;
}
/* Testimonial section Ends */


/* Footer Section Starts */
.footer-section{
    padding: 3rem;
    gap: 2rem;
    background-color: #e0dada63;
}

.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.8rem;
}

.footer1 .footer-logo img {
    width: 4rem;
}

.about-footer {
    & p {
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;

        & span {
            color: black;
            font-weight: bold;
        }
    }
}

.about-footer .footer-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 2rem;

    & .fa-user {
        font-size: 1.8rem;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        color: red;
        background-color: white;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}

.footer1 .copy-right {
    font-size: 1rem;
}

.footer2,
.footer3,
.footer4 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
}


:is(.footer2, .footer3, .footer4) {
    & h3 {
        font-size: 1.6rem;
        margin: 1.4rem 0rem;
    }
}

:is(.footer2, .footer3, .footer4) .footer-list-heading {
    display: flex;
    justify-content: center;
    align-items: end;
}

:is(.footer2, .footer3, .footer4) ul li {
    font-size: 1.5rem;
    padding: .6rem 0rem;
}

/* Footer Section Ends */